[2017-06-05 10:29] pokoli opened #3 "Add tox and travis"
We should add travis and tox to ensure test pass on all the suported platforms (py27, py34, py35)

I'm wondering if we should also add coverage and pep8 checks

I can work on it

[2017-06-05 16:04] mbohlool commented on #3
I was just thinking about that when I looked at your PR.

[2017-06-06 08:22] pokoli commented on #3
I uploaded a PR. travis and codecov must be updated on this repository.

[2017-06-08 22:05] guoshimin opened #10 "The REST client doesn't recognize IP addresses in subjectAltNames in the API server cert"
On GKE, the master has a self-signed cert with its IP addresses in the subjectAltNames. The REST client seems to ignore those.
[code]

[2017-06-08 22:11] guoshimin commented on #10
[sorry about the edits. Hit submit by accident.]

[2017-06-08 22:22] guoshimin commented on #10
Oh duplicate of https://github.com/kubernetes-incubator/client-python/issues/165

[2017-06-08 22:22] #10 closed

[2017-06-12 07:55] pokoli opened #12 "Add CLA check"
As in other kubernetes repos, the CLA check must be activated for this repo.

[2017-06-12 09:01] #3 closed

[2017-06-12 09:02] mbohlool opened #13 "Add travis badge"

[2017-06-12 09:11] mbohlool commented on #12
https://github.com/cncf/foundation/issues/1

[2017-06-13 07:42] mbohlool opened #14 "Support CustomResourceDefinition"
ThirdPartyResource (TPR) is deprecated and CustomResourceDefinition (CRD) is the successor.

[2017-07-14 01:24] yuvipanda commented on #12
There is a CNCF check now, this can probably be closed?

[2017-07-14 07:19] pokoli commented on #12
@yuvipanda you are right. I'm closing this issue

[2017-07-14 07:19] #12 closed

[2017-07-23 05:33] yuvipanda opened #23 "Strange error when using this in high-load on PyPy"
Heya!

I've been load testing our JupyterHub kubespawner with high loads, and have recently been testing on PyPy.

I've discovered this error show up:

[code]

Not sure what that is and why it'd think the IP is that. I assume it's trying to talk to the kubernetes API, which is at 10.0.0.1 - not sure where the \x005.1 comes from.

This could be a bug in PyPy - unsure! I'll try to repro this in cpyt

[2017-07-23 06:10] yuvipanda commented on #23
Closing, most likely a PyPy bug! Filed as https://bitbucket.org/pypy/pypy/issues/2615/this-looks-like-a-thread-safety-bug - sorry for the noise!

[2017-07-23 06:10] #23 closed

[2017-07-23 09:48] mbohlool commented on #14
We do have CRD support now. added in https://github.com/kubernetes-incubator/client-python/pull/283

[2017-07-23 09:48] #14 closed

[2017-07-24 09:32] #13 closed

[2017-07-25 09:45] mbohlool opened #25 "Consider releasing python-base as an stand alone package"
Python base can be re-arranged to be released as an stand alone package. Benefits are:

- Clear dependencies between main repo and base.
- A fully functional kubernetes client without convenience API calls and Models. One should be able to use it to talk json with API server's endpoints.
- Versioning, testing, etc. independent of main repo.

[2017-07-26 03:59] yuvipanda opened #26 "Consider setting connection_pool_maxsize to a higher value by default"
Currently, it is set to 1. Which means the moment you start doing concurrent requests to the same kubernetes master, you're going to end up thrashing the connection pool & reducing performance.

Since the most likely case is that we're going to be making many requests to the same IP rather than many requests to different IP, setting this to a larger value by default will (and does!) improve perfor

[2017-07-26 07:17] pokoli commented on #25
Then you should propably remove the module stuff and add only a dependency on setup.py.

For me, this is the prefered way for python packages. So please go ahead with it!!!

[2017-07-26 07:57] pokoli commented on #26
I agree that a greater value will improve the performance but I don't know which will be a good default value.

@yuvipanda do you have any sugestion regarding the number of connections per api to keep?

[2017-07-26 08:15] yuvipanda commented on #26
I like the ThreadPoolExecutor's default:

https://docs.python.org/3/library/concurrent.futures.html#concurrent.futures.ThreadPoolExecutor,
which is number of processors * 5.

On Wed, Jul 26, 2017 at 12:57 AM, Sergi Almacellas Abellana <
notifications@github.com> wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2017-08-14 08:19] tomplus opened #27 "support for asyncio"
Hi guys.

Do you consider providing this client library with support for `asyncio` ?

Regards,
Tomasz Prus

[2017-08-15 03:13] mbohlool commented on #27
`asyncio` would be nice. I can label this PR as help-needed so somebody pick it up. It would be better if you create your proposal as an issue in the main repo that hopefully will get more attraction.

[2017-08-15 21:11] tomplus commented on #27
@mbohlool thanks. I'll add an issue in the main repo.

[2017-08-21 10:11] pokoli commented on #26
I see we are using a None value as default, and the value of 1 comes from urllib3.
I like the idea of ussing None as default value, which means use the default value of the library.

IIUC the pool will create new connections if required (as by default block is set to false). See:

https://github.com/shazow/urllib3/blob/master/urllib3/connectionpool.py#L234

[2017-08-21 15:32] yuvipanda commented on #26
@pokoli In http://urllib3.readthedocs.io/en/latest/advanced-usage.html:

[code]

And in this case, we are doing exactly that - sending a lot of requests to one host (kubernetes master), rather than lots of requests to many hosts (what urllib3 optimizes for for default). So while our requests don't fail, it does mean that we aren't taking advantage of the pooling at all - as soon as a second concur

[2017-08-22 07:33] pokoli commented on #26
@yuvipanda I just created pr #29 Can you please review/test? Thanks

[2017-08-22 15:23] tardyp commented on #25
This will help projects like buildbot, which only needs to call a few API with asynchronous libraries, but could use the config parsers. see https://github.com/buildbot/buildbot/pull/3467

[2017-08-22 21:20] mbohlool commented on #25
I would like to spend some time on this. Look like we need to do https://github.com/swagger-api/swagger-codegen/issues/6191 first.

[2017-08-23 08:22] #26 closed

[2018-02-09 23:57] zhjchen opened #44 "credential error in GCE/GKE"
using the pre-release 5.0 version of kubernetes-client python. Run the example1.py, however still get the following credential errors.

`
  config.load_kube_config()
  File "/Library/Python/2.7/site-packages/kubernetes/config/kube_config.py", line 363, in load_kube_config

    loader.load_and_set(config)
  File "/Library/Python/2.7/site-packages/kubernetes/config/kube_config.py", line 253, in load

[2018-03-06 14:44] sujeeth961991 opened #50 "issue with iterating over a dict"
If `query_params` is a dict, the the following code fails to iterate.
https://github.com/kubernetes-client/python-base/blob/11da619c9ef7b2e26fe162e5feeb72d5bedcc5c9/stream/ws_client.py#L238

For Python 2.x:
`for key, value in d.iteritems():`
For Python 3.x:
`for key, value in d.items():`

[2018-03-06 14:51] pokoli commented on #50
Hi @sujeeth961991,

Thanks for reporting. Could you please create a pull request to fix the issue?

I think we should use .items() to iterate over the items, as this function will be compatible with both python versions (iteritems is removed from 3.x as the default behaviour is to return an iterator).

[2018-03-25 06:42] saurabh-chordiya opened #53 "stream/ws_client.py doesn't close the connection if _preload_content is True"
Using kubernetes-4.0.0 python client and exec call as below:-

stream( api.connect_get_namespaced_pod_exec,
            name=pod_name, namespace=namespace, command=cmd,
            stderr=True, stdin=False, stdout=True, tty=False)

After this call it returns output as a string and not closing connection so If I use it in scale env then I see below error:-
filedescriptor out of range in select

So

[2018-03-28 12:56] jlewi opened #54 "userinfo.email scope is needed to work with rbac"
[KubeConfigLoader._refresh_credentials](https://github.com/kubernetes-client/python-base/blob/master/config/kube_config.py#L137) sets the scope to cloud-platform.

I think userinfo.email scope is needed as well.

See kubernetes/kubernetes#58141 for a similar issue with kubectl and a good explanation.

I think we need the userinfo.email scope because RBAC rules can be expressed in terms of the emai

[2018-03-29 10:29] saurabh-chordiya commented on #53
/kind bug

[2018-04-10 00:26] salilgupta1 opened #57 "Watch stream should handle HTTP error before unmarshaling event"
I could be mistaken but looking at the infinite loop for the watch stream doesn't handle the case when you receive an event that is expired i.e. a HTTP status code of 410.

[code]
Looking at the code it seems that if the event is expired then resp should return something along the lines of
[code]
And `unmarshall_event` should fail to deserialize the object and break. And `self.resource_version` sh

[2018-04-16 16:33] mikedanese opened #59 "GCP Token is not refreshed"
The GCP token expires after 1 hour and is not refreshed by the transport.

[2018-04-17 01:53] mikedanese commented on #59
cc @kashomon

[2018-04-17 17:59] helver opened #60 "Deprecation Warning in config/kube_config.py"
/usr/local/lib/python3.6/site-packages/kubernetes/config/kube_config.py:100: DeprecationWarning: decodestring() is a deprecated alias since Python 3.1, use decodebytes()

[2018-04-17 18:00] helver commented on #60
Line 100.

[2018-04-24 07:18] joar opened #62 "load_kube_config fails if KUBECONFIG contains more than one file"
KUBECONFIG is a list of colon-deliminated config files.
https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/#the-kubeconfig-environment-variable.

load_kube_config without arguments throws:
[code]

[2018-04-26 05:45] Lawouach opened #63 "Support for client-go credential plugins authentification scheme?"
Hey all,

Kubernetes 1.10 has introduced an alpha feature to support a greater variety of authentification mechanisms https://kubernetes.io/docs/admin/authentication/#client-go-credential-plugins

Is there planning to support this from the Python client by any chance?

Thanks,

[2018-04-26 05:55] saurabh-chordiya commented on #53
@mbohlool

[2018-04-26 19:40] Lawouach commented on #63
Mm, I wonder if we should open issues here or on the top-level kubernetes client project?

cc @mbohlool if that's okay to ask :)

[2018-04-27 17:29] ericchiang opened #65 "OIDC auth uses incorrect base64 decoding"
We had a customer report the following error with this client:

[code]

Which appears to originate from here: https://github.com/kubernetes-client/python-base/blob/789de6a60dea9442ee47601a788d92c653ea69e9/config/kube_config.py#L236

[code]

JWTs aren't encoded using standard base64 encoding, they use URL encoding without the final padding

[code]

https://tools.ietf.org/html/rfc7515#section-2

So

[2018-05-02 14:23] tjensen opened #66 "Support for sending EOF to stdin via stream?"
Is there a way to close stdin or send an EOF to stdin when using `stream`, without also closing stdout and stderr? I would like to be able to use `stream` to send input to a command via stdin, then send an EOF to signal that the command should stop processing input, then read all output from the command.

[code]

[2018-05-04 14:29] tjensen commented on #66
I found a solution that didn't require me to use `resp.write_stdin`. I'm able to pass the input from the command line, like this:

[code]

[2018-05-04 14:29] #66 closed

[2018-05-08 18:26] roycaihw commented on #63
Closing in favor of the top-level python repo issues, which have more visibility.

[2018-05-08 18:26] #63 closed

[2018-05-10 19:06] amj commented on #59
/subscribe

i'm also having this problem :(

[2018-05-16 09:34] Sturgelose commented on #57
We are having exactly the issue the you described: our watch gets a 401, it disconnects and reconnects automatically ending in an undesired status.

Our case is:
1. Etcd/K8s API returns us a 401 error with a `resource_version = None` in its body (as you can see in the snippet in this issue: https://github.com/kubernetes-client/python/issues/403). Reason of the error is that we are doing many calls

[2018-05-24 14:43] jessfraz opened #68 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-06-04 18:12] smanpathak commented on #44
I am facing the exact same issue. In my case, it does not work after running a kubectl get command. The error comes and goes.

[2018-06-13 00:58] roycaihw commented on #57
The current watch client code is dynamic and assumes that API server always responds with correct API object to deserialize. When API server responds with `410` in case where resource version is too old (e.g. https://github.com/kubernetes-client/python/issues/484#issuecomment-396775365) or `401` in @Sturgelose's case, the errors are not raised/handled but get "deserialized".

I would suggest that

[2018-07-02 20:53] dekkagaijin commented on #59
I can take this on

[2018-07-02 20:54] amj commented on #59
woohoo!

[2018-07-04 07:04] tomplus commented on #27
@mbohlool I’ve prepared the new library kubernetes_asyncio which is based on this Python client, but uses the asyncio generator from swagger-codegen. Additional PR to `gen` repository is already merged.

Do you think it's possible to migrate this new library to official kubernetes-clients' repo? How can I do that?

[2018-07-10 23:50] #68 closed

[2018-08-04 03:19] spiffxp opened #80 "Create an OWNERS file"
ref: https://github.com/kubernetes/community/issues/1721

This repo is listed in sigs.yaml as belonging to sig-api-machinery, but it lacks an OWNERS file.  Can you please add one with the appropriate list of approvers and reviewers? eg:
- [robust example: approvers, reviewers, aliases](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/OWNERS)
- [simple example: only appro

[2018-08-06 17:15] yliaog commented on #80
https://github.com/kubernetes-client/python-base/commit/07ef6263685802ee5a8532662bf589adaa07b592

added OWNERS file.

[2018-08-06 17:15] #80 closed

[2018-08-14 13:06] klarose opened #81 "Watch stream duplicates events"
I have been using a Watch stream to handle events for my custom resource. I have found that the same events are repeated indefinitely even though nothing has changed on the system.

Here is an example. I have a custom resource defined as follows:

[code]
After creating it, I start my python script. When I create the first resource, it tells me that it has been added. But, then a minute or so later

[2018-08-14 13:39] tomplus commented on #81
Which version of the library do you use? There was a similar issue: https://github.com/kubernetes-client/python/issues/503 which is already fixed...

[2018-08-14 13:48] klarose commented on #81
Somehow my google searches didn't find that. :)

Here's what I'm using:

I took a look at my watch.py, and it does not have the lines added by that fix. So, clearly my version does not have it.

It looks like that is the same issue, and my reading of the code is that it'd fix the problem. I'll see if I can get a version with the fix. Thanks!

[2018-08-14 13:58] #81 closed

[2018-09-14 16:18] wunzeco opened #84 "Buggy conditional in kube_config.py (TypeError: '<' not supported between instances of 'int' and 'time.struct_time')"
https://github.com/kubernetes-client/python-base/blob/d68e456190ec9dc8bbac5fd922f363b3b90b7a90/config/kube_config.py#L211

The line above fails with the error:
[code]

Suggested fix:
[code]

[2018-09-21 20:09] richardsliu commented on #59
I am having the same problem. Is there a fix planned for this?

[2018-09-21 20:12] richardsliu commented on #59
Also what is the recommended workaround? The only way I can think of is catching 401/403s on the client side, then calling gcloud get-credentials and retry. Is there a better way?

[2018-09-21 23:43] roycaihw commented on #59
@dekkagaijin has a fix that mitigates the problem during config loading https://github.com/kubernetes-client/python-base/pull/72

The main problem is that the client only check/refresh token during config loading-- it doesn't refresh token during api invocation. The problem applies to all authentication methods. Because the client is auto-generated by swagger-codegen, we cannot directly modify it.

[2018-09-22 02:07] richardsliu commented on #59
I'm doing this as a workaround:

[code]

But it would be great to have this fixed in the client somehow.

[2018-09-26 09:23] Ark-kun opened #88 "stream assumes all data as UTF-8. That's not always the case."
[code]

[code]

[2018-10-02 11:12] andyfeller opened #89 "load_incluster_config() Authorization API key should conform to IETF 6750 standard"
While trying to reuse the [`Configuration.api_key['authorization'] = 'bearer ...'`](https://github.com/kubernetes-client/python-base/blob/7d1e4495a8222f9992c1a0d4bd0cc96832b82ec2/config/incluster_config.py#L83) for communicating to other services, I discovered some (for example Jenkins) don't like the incorrectly cased `bearer` type instead of the expected `Bearer`.  I don't know if/what depends o

[2018-10-04 00:29] TrevorEdwards commented on #59
It looks like the token is set on the client_configuration in one place:
https://github.com/kubernetes-client/python-base/blob/master/config/kube_config.py#L395-L402

I think if we set client_configuration.api_key as a custom dict for gcp auth providers, we can call _load_gcp_token every time the `authorization` field is fetched. That way we can fix it here. If that makes sense, I can work on a PR

[2018-10-04 17:36] matohavo commented on #62
Bump. Still an issue

[2018-10-17 22:08] sdktr commented on #84
This fix (and the original behavior as well) causes issues for me. My assumption is the date format when the kubeconfig is accessed by Windows as well, since I'm running on Windows Subsystem for Linux and use a mounted file as Kubeconfig?

[code]

[2018-10-29 06:30] iamneha commented on #50
/assign @iamneha

[2018-10-29 06:35] iamneha commented on #50
cc @roycaihw @brendandburns

[2018-10-30 01:12] roycaihw commented on #50
Interesting. I tried to log `kwargs` in [`websocket_call`](https://github.com/kubernetes-client/python-base/blob/8d7b6f7dc3158ff5c45fd828e965606d1c0ecfeb/stream/ws_client.py#L226) and ran [e2e tests](https://github.com/kubernetes-client/python/blob/529c0d3c2fbceca0f38d1cd3ae2eb3d5cd660a07/kubernetes/e2e_test/test_client.py#L79). It showed that `kwargs` was

[code]

where `kwargs.get("query_params"

[2018-10-30 01:37] micw523 commented on #50
It is a list of tuples of a (key, value) pair:
https://github.com/kubernetes-client/python-base/blob/8d7b6f7dc3158ff5c45fd828e965606d1c0ecfeb/stream/ws_client.py#L237

[2018-10-30 06:48] micw523 commented on #50
@iamneha See code here: https://github.com/kubernetes-client/python-base/blob/8d7b6f7dc3158ff5c45fd828e965606d1c0ecfeb/stream/ws_client.py#L238-242
The (key, value) pair are appended to the query_param list - and therefore it is always a list of tuples.

[2018-10-30 07:49] iamneha commented on #50
@micw523 I think you are confusing query_params with kwargs.get("query_params").
You can see [test_pod_apis](https://github.com/kubernetes-client/python/blob/529c0d3c2fbceca0f38d1cd3ae2eb3d5cd660a07/kubernetes/e2e_test/test_client.py#L38)
Here you will see we stream the API and send command that need to be executed. kwargs is coming from this [e2e tests](https://github.com/kubernetes-client/python

[2018-10-30 08:07] micw523 commented on #50
@iamneha You’re right. I was not talking about the correct ```query_params``` here. However, The e2e test called ```connect_get_namespaced_pod_exec```, which also packed the parameters into a list of tuples. It’s in the core_v1_api.py and it’s too large for github to show so no link here :)

[2018-10-30 15:39] iamneha commented on #50
@micw523 yes you are right nothing needs to be changed here :)
cc @roycaihw

[2018-10-30 23:45] roycaihw commented on #50
@iamneha @micw523 Thanks for looking into this issue :)

/close

[2018-10-30 23:45] #50 closed

[2018-11-22 19:54] ignertic commented on #25
ANyone working on this?

[2018-11-26 09:04] berlinsaint commented on #88
the same error here. I solve it by change to `data = data.decode("utf-8", "replace")`

but. when the file is encode by other charset, this code is not used.  any other solutions?

[2018-11-26 09:07] berlinsaint commented on #88
/kind bug

[2018-11-26 09:13] berlinsaint commented on #88
/sig cluster-api

[2018-11-26 09:14] berlinsaint commented on #88
/sig cluster-lifecycle

[2018-12-03 01:18] PaulFurtado opened #106 "select should not be used in WSClient because python-websockets does its own buffering"
I'm hitting an issue where some exec calls made via the python client hang.

For background, I'm in the process of migrating my cluster from docker to cri-o and I have a suite of acceptance tests written in python that I run against the cluster to verify functionality. A good deal of of the tests exec commands inside pods and upon switching to cri-o, a certain command in the tests hangs/times out

[2018-12-07 19:30] mbohlool commented on #25
@ignertic no. you are welcome to work on this if you have time.

[2018-12-12 12:35] axelsteingrimsson commented on #54
I believe we are experiencing the exact issue that you are describing when using the [Kubernetes Python client](https://github.com/kubernetes-client/python). We are finding that when the Python client refreshes the access token in `~/.kube/config` we can't make requests to the Kubernetes API server with a service account that is normally authenticated with RBAC. Though when we use `kubectl` the to

[2018-12-12 13:00] axelsteingrimsson commented on #54
I figure I'll just open a PR to get things going if that's alright.

[2019-01-25 07:31] veezhang opened #113 "How to use it in aws eks's pods??"
config.load_incluster_config() donot work, and how to create_namespaced_pod in eks's pods?
[code]
[code]

[2019-02-04 21:57] roycaihw commented on #88
from the [rfc](https://tools.ietf.org/html/rfc6455#section-5.6) we should decode uft8 for `OPCODE_TEXT` but leave `OPCODE_BINARY` as raw. this client should not assume encoding for arbitrary binary data

[2019-02-11 07:15] mitar commented on #57
From [API concepts](https://kubernetes.io/docs/reference/using-api/api-concepts/):

It would be great if Python code could correctly support this automatically.

[2019-02-11 18:06] mitar commented on #57
Based on #102 I made an [improved version](https://github.com/kubernetes-client/python-base/compare/master...mitar:retry-watch):
* It makes sure to not try to unmarshal an event if it is an error.
* If error is 410, it tries to resume it automatically using the latest known `resource_version` from the latest event.
* Only if this does not succeed (which can happen if the latest event is too old as

[2019-02-18 12:20] kvaps commented on #65
@bpicolo, your fix is working, thanks!

[code]

[2019-02-19 00:37] mitar opened #117 "Add E2E test to python-base"
Instead of mocked API. To really test if things work. There is now [kind](https://github.com/kubernetes-sigs/kind) which can help setup a Kubernetes cluster inside a CI against which then to test.

[2019-02-19 12:48] mathieuherbert commented on #84
Hi,
I have the same error with AKS and AAD authentication. Is there any update on this issue ?
Thanks !

[2019-02-20 20:38] micw523 opened #118 "Run hack/ as an individual CI test"
Currently the ```hack/``` scripts are run as part of all of CI tests. An example can be seen [here](https://travis-ci.org/kubernetes-client/python-base/jobs/495736027).

Instead, we should move the ```hack/``` scripts to an additional individual check. This saves us some build time for CI and also allows us to potentially expand the scope of ```hack/``` checks we can do in the future. As a backgro

[2019-02-20 20:39] micw523 commented on #118
/priority backlog
/good-first-issue
/help

[2019-02-23 17:45] micw523 commented on #117
It's finally arrived for k8s 1.11+...

Yet we've set up the environment for the main repo. It's using minikube inside the CI to run the tests under e2e_test. If you want to make sure it works, you could potentially put some tests there.

[2019-02-28 18:05] sNathan13 commented on #84
I also have the same error with AKS integrated with AAD. Any updates on how to resolve this?

Thanks!

[2019-02-28 20:24] adubkov opened #120 "Is there any example of WSClient usage?"
Hi,

Is there any example of `WSClient` usage to mimic `kubectl exec -ti`?

Not sure if i'm going right direction, but that is what I'm doing now:

[code]

Problem is when I running it and entering `ls` in stdin it still return empty string.

[2019-02-28 20:50] adubkov commented on #120
Looks like I have to read each channel individually by `ws.read_stdout()` and `ws.read_stderr()`

[2019-02-28 20:50] #120 closed

[2019-03-05 06:04] Sai-Adarsh commented on #118
Hey @micw523 I'm interested with this, What do you mean by 'Additional  individual check' and some more pointers on how to fix this issue?

[2019-03-13 20:13] UWTech commented on #65
Is this getting merged into mainline soon?

I'm still seeing this error, and I cloned last week. Do we have an ETA there?

Thanks.

[2019-03-14 04:48] micw523 commented on #118
I just saw this. Have you checked one of the Travis CI’s build interface? You’ll see one if you go to any PR and click on the details next to the Travis CI build status.

You’ll see many individual tests in it. The goal is to write another test for the hack/ scripts instead of hard coding it into every test in .travis.yml.

[2019-03-14 23:11] roycaihw commented on #117
we have e2e env set up in the [main repo](https://github.com/kubernetes-client/python/tree/master/kubernetes/e2e_test) and we do run [all tests from both repos](https://github.com/kubernetes-client/python-base/blob/c4de8bdf404c442389d2a0c421d6f99d80ab1d3a/run_tox.sh#L36-L53) in python-base CI (e.g. search for "e2e" [here](https://travis-ci.org/kubernetes-client/python-base/jobs/506441394))

I thin

[2019-03-14 23:20] roycaihw commented on #117
on the other hand we can improve https://github.com/kubernetes-client/python/blob/master/kubernetes/e2e_test/test_client.py to test watch/follow behavior after https://github.com/kubernetes-client/python-base/pull/93 is included in the main repo

[2019-03-15 01:45] richard-reece commented on #84
I'm seeing the same issue as @sdktr with the `expires-on` value being `'2019-03-15 13:36:54.245657'`

[2019-03-18 04:48] ofek opened #123 "Bug in rfc3339 implementation"
This issue can be easily reproduced like so (same on Python 2.7.15):

[code]

Based on [this comment](https://github.com/kubernetes-client/python-base/pull/22#discussion_r129258501), there is logic that is supposed to coerce naive date times to UTC but it does not appear to be working consistently cc @mbohlool @pokoli

I should also note, this exact example passes on Travis (Xenial):

Job: https:/

[2019-03-21 12:53] fatal-exception commented on #84
The problem is that expires-on is *sometimes* an integer (time after epoch?) and sometimes a datestring in %Y-%m-%d %H:%M:%S.%f format.

I believe this is the solution that is needed to fit both cases
[code]

[2019-03-21 12:54] fatal-exception commented on #84
Can @richard-reece  and @wunzeco  confirm that this works for both use cases?

[2019-03-21 22:38] richard-reece commented on #84
Looks good to me, thanks!

[2019-03-25 11:41] wunzeco commented on #84
Looks good to me too. Awesome!

[2019-03-25 16:04] GarrettHoffman opened #125 "Authentication Issue for AWS EKS Cluster"
We are attempting to connect to our AWS EKS cluter (via Apache Airflow) and are getting an Authentication error for jobs running longer than 15 minutes. We are using the [aws-iam-authenticator](https://github.com/kubernetes-sigs/aws-iam-authenticator) for authentication. The issue is that this provides an auth token that expires every 15 minutes, so I think that the client is not able to update th

[2019-03-25 17:08] fatal-exception commented on #84
after further discussion with @wunzeco  I'm going to raise this as a separate PR

[2019-03-25 19:03] micw523 commented on #117
If we add e2e tests to the main repo, we'll need to potentially merge a feature / bug fix PR to the base repo first, then check in the base repo commit and the e2e test into the main repo at the same time. It's kind of a pain but it's not impossible.

On the other hand, if we set up e2e in the base repo, we should be fine with the dependencies since the CI are run from the main repo but we do need

[2019-03-25 19:04] micw523 commented on #118
/priority important-longterm

[2019-03-25 19:05] micw523 commented on #118
/remove-priority backlog

[2019-03-26 19:47] GarrettHoffman commented on #125
This is actually the same issue as this: https://github.com/kubernetes-client/python/issues/741

[2019-04-02 00:07] TigerC10 commented on #125
I think this caused by kubernetes-sigs/aws-iam-authenticator#63 see [the comment](https://github.com/kubernetes-sigs/aws-iam-authenticator/issues/63#issuecomment-438050396) for more details about _why_ this is happening.

Ultimately looks like it's an AWS problem.

[2019-04-05 19:23] vishal3152 opened #128 "Loading kube-config - issue with python base64.b64decode() function"
[**This** ](https://raw.githubusercontent.com/kubernetes-client/python-base/5c03b3b237edcbd9fa6040081afba5f804cefe46/config/kube_config.py)  script uses base64.b64decode() function to decode 'id-token' from kube-config file.

Even though my base64 string is ok( Golang API decodes it without any issue),
the python decoder always returns 'incorrect padding' error message. I have tried with PY3.5, PY

[2019-04-10 13:47] zw0610 commented on #57
Is there any reason not adding except clause in the while loop within `stream` method, as:

[code]

[2019-04-10 17:52] mitar commented on #57
I do not think so. The only reason why exception is thrown there is because we access wrong fields in the `data` object. Also, what you made as a snippet above eats all and every exception, this is definitely not something you want to do.

[2019-04-15 17:29] GarrettHoffman commented on #125
Thanks, I will go ahead and close this.

[2019-04-15 17:29] #125 closed

[2019-04-15 18:36] switchboardOp commented on #128
https://github.com/kubernetes-client/python-base/pull/79 should fix this.

[2019-04-17 03:29] leavest commented on #88
I get the same error when use vim command in web terminal.

[2019-04-24 15:07] tiga1583 commented on #65
We are experiencing the same issue. When will it merged into main line?

[2019-04-24 17:28] mitar commented on #27
/remove-lifecycle stale

[2019-04-25 11:23] Sephtex commented on #84
I'm encountering the same issue. Seems when kubectl is initially getting the config, expires-on is an integer, which is ok. But when _refresh_azure_token is called from site-packages/kubernetes/config/kube_config.py the refreshed token will return a timestamp like '2019-04-25 11:41:40.204877'. And the 2nd time you call the module, it fails.

[2019-04-26 00:28] aseempatni commented on #62
I'm also facing the same issue when KUBECONFIG contains multiple files.

[2019-04-26 06:39] tomplus commented on #62
@aseempatni which version of the library do you have? It should work with the latest one.

/remove-lifecycle stale

[2019-04-26 18:15] aseempatni commented on #62
Ah, I see. I'm using 8.0.1. It was fixed after that I assume? Lemme give a shot with the latest one.

[2019-04-26 23:51] tomplus commented on #62
Yes, v. 10.0.0a1 should work.

[2019-05-05 05:48] #113 closed

[2019-05-10 17:48] rabidang3ls commented on #84
@Sephtex I just encountered the same thing. If you update `kubernetes/config/kube_config.py` with @fatal-exception 's fix, it works. Manually editing isn't awesome, but it looks like a pull request is open to fix this issue.

Just checked, it has the wrong code in the pull request. Left a comment with updated code.

[2019-05-12 19:37] mitar commented on #57
I made !133 which should fix this for good.

[2019-05-17 22:44] vasan123 opened #135 "Azure Refresh Token Unauthorised Error"
I am using python kubernetes client to connect my Cluster which is hosted in Azure. I am able to connect my kubernetes env using my token from kubeconfig file using python client, whenever my token expires,  I got a refreshed token but that token does not seems to be right. If I use that refreshed token thru python client or as well as manually from UI (Kubernetes) I am getting an unauthorized err

[2019-05-20 11:52] tundeaoni commented on #84
Thanks , this worked for me too. Implemented this fix via monkey patching `_load_azure_token` method pending the merging the PR addressing the issue.

[2019-05-20 18:11] bboe commented on #53
Here's a simple example that demonstrates the problem generically with select:

[code]

I verified that on both OS X and Linux the following exception occurs:

[code]

I'm going to work on a hopefully simple PR to change from select to poll as I just started running into this issue when using this library within a flask application that supports thousands of threads.

[2019-05-20 18:23] bboe commented on #53
Just to add to the above, the root issue is with whatever the file descriptor number is that [is being selected on](https://github.com/kubernetes-client/python-base/blob/1d5231cee6d0674b958ad429b60dda39363a4dc1/stream/ws_client.py#L174). In my case, this is due to external open files, but for you it could be due to the reason you've described. Either way, using select seems like a non-ideal way to

[2019-05-20 18:42] bboe commented on #106
To update on this issue, I ran into an issue with select as documented here: https://github.com/kubernetes-client/python-base/issues/53#issuecomment-494094032

My thought was to convert to poll (has potential problems as not all operating systems support poll (but maybe all that support this package do?). However, if this select isn't needed, then that simplifies things even more.

[2019-05-20 19:39] PaulFurtado commented on #106
@bboe are you talking about epoll? If so, epoll has all the same problems as select here: the underlying socket's readiness is not equivalent to the websocket's readiness as the websocket is a logical construct with its own framing which the operating system doesn't know about

[2019-05-20 20:20] PaulFurtado commented on #53
@bboe it's not actually the file descriptor number being selected on, but the ulimit on the total count. The default ulimit for open files is 1024. File descriptor numbers are per-process, but ulimits account for all processes running as a given user.

It doesn't matter which socket polling method you use, you'll still have just as many file descriptors total. To scale to thousands of file descrip

[2019-05-20 20:20] bboe commented on #106
@PaulFurtado no, I was just going to convert to regular poll to remove the max fd 1023 limit of select. However, as you've indicated here, it seems like simply removing the select is better, unless there is a need to have a timeout when no data is available.

Do you know who would need to sign off on such a change? I'm likely going to vendorize a version of this with select removed, but it'd be gr

[2019-05-20 20:27] bboe commented on #53
@PaulFurtado it is actually the file descriptor being selected on. Here's an example showing a single file descriptor selection failing:

[code]

[2019-05-27 13:36] axelsteingrimsson commented on #54
/close

[2019-05-27 13:36] #54 closed

[2019-06-03 12:22] hightoxicity opened #136 "Client should not try to check rootca when an intermediate one is trusted"
I have a kube cluster where signing CA is an intermediate one under an external to the cluster CA.

Looking at https://github.com/kubernetes-client/python-base/blob/f30d840d3bc96850615fbd5342cf26e6da98dcc7/config/incluster_config.py#L89

This mounted certificate contains the intermediate CA but the client is currently trying to check the root one and it fails, it should not.

[2019-06-14 07:39] codemug commented on #84
Facing the same issue, waiting for the fix to merge

[2019-06-19 22:46] #65 closed

[2019-06-20 16:26] zmc commented on #106
@bboe @PaulFurtado Curious, does one of you have a fix for this? I'd be happy to test it.

[2019-06-20 16:53] PaulFurtado commented on #106
/remove-lifecycle rotten

@zmc you should be able to just remove the line linked above: https://github.com/kubernetes-client/python-base/blob/67a69d46560c4cf12e25266c41417f0dc0cc81ce/stream/ws_client.py#L169-L170
I've done this internally and AFAIK there haven't been negative side effects.

---

@bboe I confirmed you're definitely correct, after all these years, I didn't realize that about select

[2019-06-20 18:56] bboe commented on #106
Removing the socket select is also what we have done without any ill effects. I am moving away from invoking K8 directly in favor of Google Cloud Run, so my desire to have this fixed is lessened.

That discovery absolutely blew my mind.

[2019-06-21 00:10] #88 closed

[2019-06-22 09:48] #60 closed

[2019-06-23 01:03] #44 closed

[2019-06-24 19:44] roycaihw commented on #117
/remove-lifecycle stale
/lifecycle frozen
/area test

[2019-06-24 23:48] #89 closed

[2019-06-25 17:37] micw523 commented on #118
/remove-lifecycle stale

[2019-06-26 11:24] #25 closed

[2019-06-26 12:12] ccamacho opened #139 "Python kubernetes client breaks when parsing the response from custom controller"
Issue: Python kubernetes client breaks when parsing the response from custom controller

When running a watch primitive as:
    resource_version = ''
    while True:
        stream = watch.Watch().stream(crds.list_cluster_custom_object, DOMAIN, "v1", "guitars", resource_version=resource_version)

The python client breaks with:

Traceback (most recent call last):
  File "controller-pods.py", line 3

[2019-06-26 12:25] ccamacho commented on #139
Fix proposed in #140

[2019-06-29 04:16] ccamacho commented on #139
Making fail also Ansible Kubevirt https://github.com/kubevirt/ansible-kubevirt-modules/issues/222

[2019-07-02 17:36] paltryeffort commented on #84
I use AKS with AAD authentication and I have the same issue. The fix is working for me.

[2019-07-02 17:42] bitsofinfo commented on #84
same issue

[2019-07-03 07:16] TomasTomecek commented on #106
Having the same issue with same symptoms. Tracking issue in our project: https://github.com/packit-service/sandcastle/issues/23

[2019-07-03 19:53] mogaika opened #142 "OIDC auth behaivor differs from kubectl"
I trying to use kubeconfig that works with kubectl but causes problems in python client
[code]
Code: ```config.load_kube_config('testkube.yml')```
Error:
[code]
I didn't get origin of this problem since temp cert file created and passed to urllib correctly [(code)](https://github.com/kubernetes-client/python-base/blob/487c9182c85a672adb31824bfe31f2d5d883c553/config/kube_config.py#L339)
Workaround

[2019-07-03 21:20] tbarrella commented on #88
https://github.com/kubernetes-client/python-base/commit/15474efbaf906bf557c4a38392a0b06c95ce7841 helped to fix the error above, but it seems like this issue should be re-opened with the intent of being able to stream bytes without trying to decode them

[2019-07-04 14:37] mogaika commented on #142
I debugged kubectl and if 'client-secret' is not provided kubectl treats its as empty string

[2019-07-08 11:44] mogaika commented on #142
Turned out that we have problem with our cert. It misses other certs of chain. But in the same time kubelet works perfectly with such certs. Either kubelet ignores cert problems and fallback to ignore them, either kubelet do not require to have cert ca bundle (what is unlikely). Will prepare fix for 2 other problems from topic list.

[2019-07-08 23:06] #84 closed

[2019-07-09 18:15] roycaihw commented on #142
could you clarify if it's a problem with the cert or if it's a gap between the python client and kubectl? The first comment seems to be not concrete enough to reproduce the issue

sounds like the python client is missing this path. Would you like to open a PR to fix it?

[2019-07-10 11:28] mogaika commented on #142
My cert (cert-1) issued by self-signed cert-2. In kubectl case its enough to provide only cert-1 in `idp-certificate-authority-data` field. But in python-client/urllib3 case looks like its required to provide ca bundle (what is logically seems right, because cert-2 is not in cert store somewhere)

[2019-07-17 14:17] TomasTomecek commented on #106
After being stuck on this for far too long, I was able to solve this by passing `_request_timeout=30.0` to stream(), can anyone verify?

[2019-07-19 21:33] #53 closed

[2019-07-23 18:07] mitar commented on #27
/remove-lifecycle stale

[2019-07-26 00:07] aseempatni commented on #62
/close

[2019-07-26 00:07] #62 closed

[2019-07-30 17:52] roycaihw commented on #128
/assign

[2019-07-30 20:20] roycaihw commented on #128
This was fixed by #79. The fix has been included in 10.0.0 release. We are cherry-picking the fix to release-8.0 and release-9.0 as well.

/remove-lifecycle stale
/close

[2019-07-30 20:20] #128 closed

[2019-07-31 16:50] goddenrich opened #149 "bug in rfc3339 microseconds regular expression"
getting this error:
[code]

[2019-08-01 21:25] #149 closed

[2019-08-02 14:13] hdimitriou opened #151 "Python3 write_channel "Can't convert 'bytes' object to str implicitly""
I am using the rundeck kubernetes plugin to execute a script to a pod and I get the following error
[code]

On this [comment](https://github.com/kubernetes-client/python/issues/476#issuecomment-375056804) there is a workaround - a change to [ws_client.py](https://github.com/kubernetes-client/python-base/blob/master/stream/ws_client.py)
[code]

This worked for me, so maybe someone with more knowled

[2019-08-06 17:37] roycaihw commented on #151
/assign

[2019-08-07 02:13] roycaihw commented on #151
The ws client we use `OPCODE_TEXT` by default, which accepts utf-8 string or unicode as payload https://github.com/websocket-client/websocket-client/blob/66081be8e0523c9dfaffcb18ba1c8e4765e2288e/websocket/_core.py#L241-L253.

I think the error means that we don't support bytes payload yet. One fix could be supporting the `opcode` parameter in our client and do the `bytes(chr(channel), 'utf-8')` co

[2019-08-13 17:47] yliaog commented on #117
/cc @roycaihw

[2019-08-13 18:05] roycaihw commented on #118
/lifecycle frozen

[2019-08-13 18:25] roycaihw commented on #117
I think https://github.com/kubernetes-client/python-base/issues/117#issuecomment-473100144 and https://github.com/kubernetes-client/python-base/issues/117#issuecomment-476335504 still hold. The problem is in python-base developer UX. Developers should be able to add E2E tests in the same PR as their add new features / fix bugs.

Two naive ways of fixing this:
- just port some e2e tests from the ma

[2019-08-14 08:25] sergei-maertens commented on #151
I'll give this a stab

[2019-08-15 06:51] #123 closed

[2019-08-15 09:37] oz123 opened #153 "Migrate to pytest?"
Currently, the test suite uses nose while the python-client uses pytest.
I suggest migrating the tests of this project to pytest too. This will ease contributions
to both projects.

[2019-08-15 10:02] oz123 opened #154 "Boilerplate includes un-necessary shebang line"
Currently the following modules contain this line:

[code]

We should remove the shebang line from `hack/boilerplate/boilerplate.py.txt` and then remove it from the modules which aren't expected to run as scripts.

[2019-08-15 12:32] micw523 commented on #154
See discussion in #107 - this has been discussed

[2019-08-15 15:33] oz123 commented on #154
Yes, I see that this was discussed. And I also see that you made this comment in the past:

What is correct for the main repository isn't blindly correct to a python software. The main repository contains Python scripts which are predestined to be run by CI jobs and developers. For this case it is easier to type `./hack/script-name.py` instead of explicitly calling python before the script name.

[2019-08-18 21:00] scottilee commented on #154
+1

[2019-08-20 17:38] alanjcastonguay commented on #153
It doesn't look like there's any nose-specific stuff going on here, it's all standard module `unittest` and nose is only being used as the test runner. pytest would be nearly a drop-in replacement, other than the coverage configuration. Does that match your understanding? Did you want to make a PR?

[2019-08-20 17:39] yliaog commented on #154
/cc

[2019-08-20 19:25] oz123 commented on #153
@alanjcastonguay yes, I would like to make a PR for that.

[2019-08-20 19:26] oz123 commented on #154
So, there seems to be agreement on this here, I will prepare a PR for this.

[2019-08-20 19:51] yliaog commented on #154
thanks @oz123 please file a pr for this

[2019-08-25 20:18] oz123 commented on #154
@yliaog  I created #155 for this, please see if this is OK.

[2019-08-28 19:05] AyliD opened #156 "kubernetes.stream with proxy"
Seems like even though i have setup proxy to all of my k8s python api calls i cannot use stream in order to perform the call to connect_get_namespaced_pod_exec

[code]

the class 'WSClient' doesnt seem to take this into account:
Example for the cod e i expected:
[code]

[2019-08-29 05:00] AyliD commented on #156
The exception im getting prior to fix is:
[code]

[2019-08-29 05:05] AyliD commented on #156
For all other API calls (except the exec) proxy works great.
[code]

[2019-09-03 17:34] yliaog commented on #156
/assign @roycaihw

[2019-09-09 15:42] ollyjshaw opened #159 "Service token file does not exists when using workload identity"
Hi,

We have a k8s service that connects to kubernetes to get some metrics. This has previously worked well using the `load_incluster_config` method.

We've recently switched to workload identity and this is no longer working, giving the error :

`site-packages/kubernetes/config/incluster_config.py", line 64, in _load_config
    raise ConfigException("Service token file does not exists.")`

This f

[2019-09-10 17:05] roycaihw commented on #159
IIUC the token file was generated before, but no longer gets generated now? This sounds like an upstream change in Kubernetes. Could you check how client-go does in cluster initialization recently? https://github.com/kubernetes/client-go/tree/master/examples/in-cluster-client-configuration

[2019-09-23 16:51] goddenrich opened #162 "Valid configs fail if fields missing"
eg. get
[code]
for the example config from the k8s documentation https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/
[code]

[2019-09-24 22:33] #162 closed

[2019-09-26 02:21] mikai21 opened #165 "Losing the "new line character" when use watch stream"
Hi,

I lost the new line character when use watch stream like below.
If not using the `follow` parameter, then fine. But I want to use stream with new line character.

## use case
[code]

How about fix like this?

watch.py
[code]

[2019-09-26 03:30] mikai21 commented on #165
move to https://github.com/kubernetes-client/python/issues/971

[2019-09-26 03:30] #165 closed

[2019-09-26 04:43] scottilee commented on #153
@oz123 any update on this? Do you want to assign the issue to yourself?

[2019-09-26 05:15] oz123 commented on #153
/assign

[2019-09-27 06:02] mitar commented on #57
/remove-lifecycle stale

[2019-09-27 18:51] ccamacho commented on #139
/remove-lifecycle stale

[2019-10-01 17:55] roycaihw commented on #154
fixed in #155

/close

[2019-10-01 17:55] #154 closed

[2019-10-02 21:20] micw523 commented on #153
/close

[2019-10-02 21:20] #153 closed

[2019-10-09 16:29] #135 closed

[2019-10-17 12:42] tania-python-dev commented on #59
I still have a problem with refreshing token. Python client reads token from  `~./kube/config`, if it is already expired, creates new token and sends next request with a new one. It looks like a usual flow but the issue is that kubectl config remains the same (with old expired token) and API responds me with 403 Forbidden error since I come with unknown for him token.
The only way I can refresh to

[2019-10-20 05:42] palnabarun commented on #118
/assign

[2019-10-21 19:03] mitar commented on #27
/remove-lifecycle stale

[2019-10-22 17:58] #118 closed

[2019-10-31 15:17] #136 closed

[2019-11-08 09:32] mogaika commented on #142
/remove-lifecycle rotten
/remove-lifecycle stale

[2019-11-19 13:38] jtlz2 commented on #159
@ollyjshaw Same problem here - did you make any progress? Thanks!

[2019-11-19 13:47] ollyjshaw commented on #159
@jtlz2 - sorry no.
In our case we were able to solve by sourcing some of this information elsewhere.
I'd still be interested in the progress of this though.

[2019-11-22 15:40] svivier-orange opened #177 "Open ssl certificate verify failed"
Cant use the InClusterConfigLoader with an self signed ca.cert
`ssl.SSLCertVerificationError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate ferify failed: self signed certificate in certificate chain`
I propose to add a parameter or an env variable to allow a verify=false .

[2019-11-26 18:36] roycaihw commented on #177
/help

[2019-11-26 18:42] alanjcastonguay commented on #177
You should be able to pass an arbitrary ca-certificate file (eg the public half of your self-signed cert) to `InClusterConfigLoader()` today. Is that not feasible? https://github.com/alanjcastonguay/python-base/blob/master/config/incluster_config.py

[2019-11-27 06:51] svivier-orange commented on #177
I've found a (temporary) workaround, the Configuration object is global scoped and use default values, whom can be writted before the InClusterConfigLoader (as long as InClusterConfigLoader don't override it, wish is the case for verify_ssl).

[2019-12-02 23:33] roycaihw commented on #177
InClusterConfigLoader [overrides the default object](https://github.com/kubernetes-client/python-base/blob/a2d1024524de78b62e5f9aa72d34cb9ea9de2b97/config/incluster_config.py#L84). You could set `verify_ssl` to False in a local Configuration object after `load_incluster_config` and use it with you clients.

[2019-12-03 06:51] svivier-orange commented on #177
Thanks for your help

[2019-12-03 06:51] #177 closed

[2019-12-03 11:53] markvr opened #179 "AttributeError: 'ConfigNode' object has no attribute 'get'"
Using latest pre-release version ` kubernetes-11.0.0b2` with `Python 3.6.5` on `Windows 10` against an Azuze Kubernetes Service cluster, configured using Azure AD for authentication:

I receive the error:

[code]

[2019-12-03 13:53] palnabarun opened #180 "Try out Github Actions for Continuous Integration/Continuous Deployment"
**What is the feature and why do you need it**:
**Feature:** Explore Github Actions to run tests.

**Need:** Dependence on a single vendor for source control as well as CI/CD.

**Describe the solution you'd like to see**:
**Continuous Integration (CI)**

Whenever a PR if filed, a Github Action workflow starts executing which runs the tests for all the different environments as is happening now.

T

[2019-12-03 13:53] palnabarun commented on #180
Cross referencing: https://github.com/kubernetes-client/python/issues/1025

[2019-12-03 13:53] palnabarun commented on #180
/assign

[2019-12-03 13:54] palnabarun commented on #180
/kind feature

[2019-12-03 13:54] palnabarun commented on #180
Pinging @roycaihw @brendandburns for comments.

[2019-12-03 18:45] roycaihw commented on #179
could you provide the kubeconfig file that you're using?

cc @scottilee

[2019-12-03 19:51] micw523 commented on #180
My two cents:

Looks like the GitHub action needs to be activated first and then we can experiment with it. Currently we run the CI every time a PR is files / updated and when a PR is merged (running CI on master is only somewhat necessary due to our using the master branch patched with the PR commit when running CI with PRs).

I'd like CD. Automatic release is good.

[2019-12-04 03:18] scottilee commented on #179
https://github.com/kubernetes-client/python-base/blob/master/config/kube_config.py#L221

[2019-12-14 16:27] #106 closed

[2019-12-17 18:20] palnabarun commented on #180
Hi @micw523,

Yes. Vide https://github.com/kubernetes/org/issues/1405#issuecomment-552043688 , Github Actions were enabled on the repository.

This will be the ideal target of release automation for the client.

[2019-12-17 18:21] palnabarun commented on #180
I have started exploring running the Integration tests on Github Actions using KinD. I will keep this thread posted on my findings.

[2019-12-20 11:42] markvr commented on #179
Apologies for the delay, an example redacted file is:

[code]

[2019-12-26 07:50] mitar commented on #57
/remove-lifecycle stale

[2020-01-20 06:38] mitar commented on #27
/remove-lifecycle stale

[2020-01-23 12:25] micw opened #181 "kube_config.py fails to load config if no context is set"
I have an interactive application that let a user select a context (from the available contexts of a configuration). That works great but loading of the config fails if there's no active context set and no context is passed to the loader. In my case I cannot pass a context to the loader since I know contexts only after loading.

Solution: if no context is passed and no current-context is set, star

[2020-01-31 19:17] #156 closed

[2020-02-01 12:07] ccamacho commented on #139
/remove-lifecycle stale

[2020-02-06 11:29] ccamacho commented on #139
/remove-lifecycle rotten

[2020-02-10 12:48] max-allan-surevine opened #182 "_load_user_token base_path = self._get_base_path(self._user.path) AttributeError: 'str' object has no attribute 'path'"
[code]

Kubeconfig :
[code]

This _used_ to work with previous versions.
Other people have the same issue, "resolved" by pinning to version 9 of kubernetes.
https://github.com/aws-samples/amazon-k8s-node-drainer/issues/14

[2020-02-11 08:36] Ark-kun commented on #151
I'm not sure this issue is fixed.
/reopen

[2020-02-11 22:28] roycaihw commented on #151
/reopen
/remove-lifecycle rotten
/unassign

This issue still exists

[2020-02-12 12:14] WeiJieQiang commented on #84
The same issue with kubernetes  10.0.1

[2020-02-12 13:41] jhaumont commented on #84
Same for me

[2020-02-14 01:12] roycaihw commented on #151
Fixed by #152

/close

[2020-02-14 01:12] #151 closed

[2020-02-18 19:03] roycaihw commented on #159
/remove-lifecycle stale

I think I don't fully understand the question. What service account does your pod use? Could you share your pod spec? I'm not familiar with workload identity so I'm not sure if you're still using the default service account, or specify a different one.

IIUC setting `automountServiceAccountToken` to true behaves the same as [default](https://kubernetes.io/docs/tasks/config

[2020-02-19 15:34] matihost opened #183 "kube_config.py is unable to merge configs when one of configs has removed all contexts"
[code]

when:
[code]
and for example one of them defines null contexts:
[code]
It happens when
[code]
is invoked and there is no context left in kube config file.

Fix proposal add if:
[code]
around
https://github.com/kubernetes-client/python-base/blob/a2d1024524de78b62e5f9aa72d34cb9ea9de2b97/config/kube_config.py#L596

[2020-02-21 23:38] #179 closed

[2020-03-02 17:32] roycaihw commented on #181
/assign @palnabarun

[2020-03-02 17:35] roycaihw commented on #182
/assign

[2020-03-02 17:37] roycaihw commented on #183
/assign @palnabarun

[2020-03-03 02:24] roycaihw commented on #182
This is a regression introduced in https://github.com/kubernetes-client/python-base/pull/94.

Technically a user with a string value (`user: lambda`) doesn't provide any auth info, and when we `_load_authentication` it should be a noop. [_get_base_path](https://github.com/kubernetes-client/python-base/blob/d30f1e6fd4e2725aae04fa2f4982a4cfec7c682b/config/kube_config.py#L484) expects `path` from `_u

[2020-03-16 19:01] palnabarun commented on #180
/remove-lifecycle stale

[2020-03-16 19:01] palnabarun commented on #180
/lifecycle frozen

[2020-03-25 08:24] mitar commented on #57
/remove-lifecycle stale

[2020-03-30 06:39] DrAuYueng opened #189 "Watch break when request func faild on "ConnectionError", should retry automatically"
In watch.py, the stream while loop will break on  ConnectionError, should  retry automatically.
like this:

    def do_func(self, func, *args, **kwargs):
        resp = None
        try:
            resp = func(*args, **kwargs)
        except IOError:
            if 'retry_after' in kwargs:
                retry_after = kwargs['retry_after']
            else:
                retry_after = 1

[2020-04-01 12:58] ddelange opened #190 "[stream/ws_client] Reading long stdout is truncated at 32768 chars"
https://github.com/kubernetes-client/python-base/blob/b87a5fe119b820e9196f39343b0f5a1546d7465b/stream/ws_client.py#L105

it seems that read_channel does not support data longer than 32768 (2**15) characters.

Below is the traceback for [these lines](https://github.com/apache/airflow/blob/1.10.9/airflow/contrib/kubernetes/pod_launcher.py#L128-L133). The line linked sends a command to a sidecar of a

[2020-04-02 07:50] jtlz2 commented on #159
@ollyjshaw Where else?

[2020-04-02 08:15] ollyjshaw commented on #159
@jtlz2 the information domain specific and we had what we needed in another data store somewhere outside of the K8s cluster

@roycaihw thanks for the feedback, my issue was specific to workload identity.
We've moved away from Workload Identity for a few other reasons too.
Working with service accounts etc is pretty straight forward as you say. We're doing more of that now.

[2020-04-02 08:15] #159 closed

[2020-04-10 12:47] NikPaushkin commented on #189
@DrAuYueng I've tried to disable my laptop network adapter and I even didn't get any exception from watcher: it just stuck. So, I think, more research needed for disconnect cases.

[2020-04-13 16:35] roycaihw commented on #190
/assign

[2020-04-30 07:01] walthhy opened #192 "ws_client.py could not handle binary as stdout"
k8s python client: 11.0.0
python 3

We're using following block copying files/dirs from pod to local, however, ws_client would decode(utf-8) data frame from socket into str, which would break the function. Enhancement needed for function ```def update(self, timeout=0)``` to store data based on type into channels.

[code]

[2020-05-11 16:33] roycaihw commented on #192
/assign

[2020-05-13 14:23] Ferenc- opened #194 "What is the returncode if self.read_channel(ERROR_CHANNEL) doesn't return anything?"
First of all what I am experiencing very often is that. When I have WSClient object instantiated as such:
[code]
When I try to get the error code after a waiting loop like this:
[code]
I get:
[code]
I figured I could gut out the internals and copy paste some part of the implementation in particular this:
[code]
This is verbatim copy past from the [returncode implementation](https://github.com/kube

[2020-05-13 21:07] roycaihw commented on #192
We should only decode the response if [`opcode == ABNF.OPCODE_TEXT`](https://github.com/websocket-client/websocket-client/blob/29c15714ac9f5272e1adefc9c99b83420b409f63/websocket/_core.py#L315-L316) (websocket-client module). Currently we are decoding binary payload as well: https://github.com/kubernetes-client/python-base/blob/bf5c59987122fd35e9bb14a939f3db94e55b30bf/stream/ws_client.py#L207-L210

[2020-05-19 14:13] mitar commented on #27
/remove-lifecycle rotten

[2020-05-29 12:43] ccamacho opened #197 "kube_config state shared across user sessions leaks loaded config"
Hi,

I have a very simple web application in Flask that creates a user session after logging-in.

When the user logs-in it can upload a kubeconfig.yml file to for example list the cluster pods.

The problem I'm facing is that once one user loads their config it's immediately shared across all the other user sessions until other user loads a config file which is also shared across all the other use

[2020-05-31 18:36] micw commented on #181
/remove-lifecycle stale

[2020-06-04 17:47] #197 closed

[2020-06-08 16:20] roycaihw commented on #194
cc @oz123

[2020-06-09 22:29] roycaihw commented on #194
This is unexpected. Could you share more code on how you invoke `returncode`?

Please take a look at [this snippet](https://github.com/kubernetes-client/python/blob/b6e4ae81a2afb49f668a142eb7d1c6e2571ef478/kubernetes/e2e_test/test_client.py#L142-L157) as example. The code tries to decode the apiserver response into a [Status](https://github.com/kubernetes/kubernetes/blob/6ac3ca4b1793d0eaaaa7d605e5

[2020-06-11 11:18] pigletfly commented on #88
/reopen

[2020-06-15 07:46] oz123 commented on #194
An exception inside `returncode` should not cause the `AttributeError`. Python is pretty specific about this, here is an example:

[code]

I agree with you it's not trivial to understand that k8s always returns a status can be decoded.

Hmm... can you post a more complete trace of this? We need to see more information about your exceptions.

[2020-06-15 08:37] Ferenc- commented on #194
Hi @roycaihw and @oz123,

Thank you for responding, here is for example one scenario, with a more complete trace that I just produced a few minutes ago:
[code]

[2020-06-15 08:42] Ferenc- commented on #194
So like I said in here in [ws_client.py](https://github.com/kubernetes-client/python-base/blob/master/stream/ws_client.py#L245):
[code]
What we get on the ERROR_CHANNEL is exactly nothing, which is not yaml loadable, and we are trying to subscript, `None['status']`.

[2020-06-15 08:57] oz123 commented on #194
Well, in this case this requires more investigation.
Maybe something changed in Kubernetes underlying. Obviously, if the error channel is empty one should look in the STDOUT_CHANNEL.
Unfortunately, I can't provide a quick fix for this because of time constraints.

[2020-06-15 16:08] Ferenc- commented on #194
Why would the STDOUT_CHANNEL have any useful status data?
What travels on the STDOUT_CHANNEL, is my very own application specific data from the container, and nothing from the k8s api server or kubelet. Or at least that is my empirical observation and understanding.

[2020-06-23 17:37] mitar commented on #57
/remove-lifecycle stale

[2020-07-03 14:28] max-allan-surevine commented on #182
/remove-lifecycle rotten

[2020-07-05 13:04] #139 closed

[2020-07-12 19:15] ddelange commented on #190
/remove-lifecycle stale

[2020-07-15 19:30] #57 closed

[2020-07-18 01:56] #142 closed

[2020-07-30 19:53] #183 closed

[2020-08-06 21:57] z0r0 commented on #142
Hey All, can we reopen this one?

[2020-08-12 17:37] chizhg commented on #27
/lifecycle frozen

[2020-08-12 17:37] chizhg commented on #27
/remove-lifecycle frozen

[2020-08-19 18:56] ryphon opened #207 "Config isn't able to take a string, or StringIO object"
Currently I use Rancher and K8s together. I can currently get my kubeconfig dynamically from a Rancher endpoint.

However, the kubernetes-client doesn't support any capability to use a kubeconfig from string, or even StringIO because a 'split' on the path is required.

The python client should support a kubeconfig via string for situations in which a filesystem either isn't available, or isn't via

[2020-08-19 19:03] ryphon commented on #207
I'm working on a pull request now to support a StringIO object, so as to not interfere with the existing 'path' functionality without trying to do some weird detection of a path vs an actual config string.

[2020-08-20 02:38] pigletfly commented on #192
/assign

[2020-08-31 16:34] roycaihw commented on #207
/assign @ryphon

[2020-09-07 15:01] #189 closed

[2020-09-09 17:37] #207 closed

[2020-09-25 06:10] iciclespider commented on #192
Here is a total curve ball observation.

I think the wrapping of the pod exec api needs to be completely reimplemented following the python subprocess.Popen constructor calling sequence as close as possible. This new implementation should return an object that then acts as close as possible to an instance of subprocess.Popen. This is a well thought out library for interacting with processes. Then

[2020-10-10 20:09] ddelange commented on #190
/remove-lifecycle stale

[2020-10-21 14:44] bhperry commented on #194
Hitting this issue as well. `returncode` raises a KeyError because there is nothing on the ERROR_CHANNEL, even if I intentionally cause an error

[2020-10-28 21:00] #181 closed

[2020-11-20 14:53] #194 closed

[2020-11-25 08:46] mitar commented on #27
/remove-lifecycle stale

[2020-11-25 22:56] spestua opened #218 "Problem with load_kube_config()"
Issue here: https://github.com/kubernetes-client/python/issues/1335

[2020-11-30 16:50] #182 closed

[2021-01-08 22:25] ddelange commented on #190
/remove-lifecycle stale

[2021-02-01 17:24] weininghu1012 commented on #183
Hi, I also encounter this issue with error like:

[code]

Is this issue being working on?

[2021-02-04 17:24] mohammedi-haroune commented on #183
I'm also getting this error
[code]

[2021-02-22 08:33] #192 closed

[2021-02-23 08:59] mitar commented on #27
/remove-lifecycle stale

[2021-03-02 12:43] spestua commented on #218
/remove-lifecycle stale

[2021-03-22 12:20] Paul424 commented on #190
I'm seeing the same issue with kubernetes==11.0.0 not sure if it will fix the issue but i'm overriding the default _extract_xcom and _exec_pod_command to validate the json document returned and retry on error. Also i'm using run_forever with a timeout to have the wsclient concat the responses.

Not sure if it is stable yet however...

[2021-03-23 16:51] ddelange commented on #190
@Paul424 are there any issues/pulls you can link to?

[2021-03-23 17:06] Paul424 commented on #190
I spend today on trying various fixes, ultimately following code seems to work for me (sorry not yet in a PR).

Notice this is Airflow code (KubernetesPodOperator).

Changes i made:
- the cat/kill are run as command and no longer fed in to stdin
- using the run_forever/read_all similar to what the wsclient would do in case of _preload_content=true

I wanted to use _preload_content=True for both bt

[2021-04-12 04:42] calebstewart opened #232 "Google Service Account Key w/ No Expiry"
When using the `get_google_credentials` callback to provide credentials to a kubernetes configuration, I am getting the following error:

[code]

It appears the module is trying to format a datetime object called `credentials.expiry`, however according to the documentation [here](https://google-auth.readthedocs.io/en/latest/reference/google.auth.credentials.html#google.auth.credentials.Credentials

[2021-04-12 16:35] roycaihw commented on #232
/assign

[2021-04-12 17:24] calebstewart commented on #232
I was doing some digging. From what I can see, the `user["auth-provider"]["config"]["expiry"]` field is only used conditionally (as seen [here](https://github.com/kubernetes-client/python-base/blob/master/config/kube_config.py#L349)). Can we simply conditionally assign that field, and remove it from the configuration dictionary if it doesn't exist in the credentials? Like this:

[code]

I'm not fa

[2021-04-13 03:03] calebstewart commented on #232
It was, in fact, my problem, and not an issue. When I was looking around in the kubernetes source, I realized the default `get_google_credentials` method calls `credentials.refresh`. I wasn't doing this, which meant that the token and expiry were `None`. This was totally my problem, and I fixed it by replicating that step on my end when grabbing the credentials:

[code]

[2021-04-13 03:03] #232 closed

[2021-05-24 18:57] mitar commented on #27
/remove-lifecycle stale

[2021-05-26 04:51] FuZer opened #239 "[watch/iter_resp_lines] If the pod log contains blank lines, blank lines are ignored"
https://github.com/kubernetes-client/python-base/blob/b87a5fe119b820e9196f39343b0f5a1546d7465b/watch/watch.py#L44-L58

it seems blank lines are ignored in pod logs.

when pod logs like below, this code ignore blank lines
[code]

[code]

but it have to be like below not ignore blank lines
[code]

[2021-06-07 16:35] roycaihw commented on #239
/assign @FuZer

[2021-06-21 14:37] hedrox opened #242 "ReplicationController delete propagation policy"
When running the function test_replication_controller_apis from dynamic/test_client.py, the test deletes the replication controller, but not the underlying pods. I think this happens because by default the replication controller orphans the pods when deleted, and a solution could be to set the propagation policy to background or foreground.

If you want I can submit a PR here and then also in kube

[2021-06-21 16:38] roycaihw commented on #242
Thanks for reporting! I didn't expect the default behavior to be orphan the pods :( It would be awesome if you could open PRs in the repos to fix those tests.

/assign @hedrox

[2021-06-24 01:09] ddelange commented on #190
/remove-lifecycle-stale

[2021-06-24 01:10] ddelange commented on #190
/remove-lifecycle stale

[2021-06-29 16:28] tchelovilar opened #245 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe2"
Hi, I got a decode error using the function w.stream to get the log stream:

https://github.com/kubernetes-client/python-base/blob/0d4f822f4f654361764a6f8dcf7ca9bf5bbce3f9/watch/watch.py#L58

Follow the traceback:
[code]

Thank you in advance :)

[2021-07-19 16:34] roycaihw commented on #245
/assign

[2021-07-19 16:50] roycaihw commented on #245
Could you share more of your code and what log stream you were getting?

[2021-07-22 11:01] tchelovilar commented on #245
Hi @roycaihw ,

Thank you for your time.

This is the snippet of the code that I use to follow the log:
[code]

Follow a copy of the log, the problem happens at line 17:
https://github.com/tchelovilar/test-actions/blob/master/log2#L17

And the last traceback:
[code]

[2021-07-30 15:10] #218 closed

[2021-08-15 21:41] #242 closed

[2021-08-18 08:07] palnabarun opened #249 "Port test pipelines from Travis CI to GitHub Actions"
The `kubernetes-client/python` has moved most of the test pipelines from Travis CI to GitHub Actions. (https://github.com/kubernetes-client/python/issues/1257)

The end goal eventually is to move everything to Prow, but for now, a low hanging fruit is to move out of Travis CI.

[2021-08-18 08:18] palnabarun commented on #249
Initial Setup in kubernetes-client/python: https://github.com/kubernetes-client/python/pull/1166
Moving e2e workflows: https://github.com/kubernetes-client/python/pull/1286

[2021-08-22 19:46] remram44 commented on #27
/remove-lifecycle stale

[2021-09-13 16:36] roycaihw commented on #249
@palnabarun Do you plan to work on this or do you need help?

[2021-09-22 10:31] ddelange commented on #190
/remove-lifecycle stale

[2021-10-01 19:08] itaru2622 opened #255 "supporting proxy authentication in websocket client(stream/ws_client.py)"
related to https://github.com/ansible-collections/kubernetes.core/issues/246,
current kubernets-client/python-base and kubernetes-client/python support proxy authentication just for REST but NOT websocket.

This issue is caused by below line in python-base. It has no 'http_proxy_auth=xxx' .
https://github.com/kubernetes-client/python-base/blob/b0afc93ffabb66d930abcdfb1255214d167bf8d5/stream/ws_cli

[2021-10-18 09:13] itaru2622 opened #259 "add support for no_proxy"
related to https://github.com/kubernetes-client/python/issues/1578

**What is the feature and why do you need it**:

current kubernetes-client/python(-base) support parameter for proxy but NOT no_proxy.
as the result, operator needs to set/unset proxy according to the target clusters.
it is somewhat bothering task because kubectl supports both proxy and no_proxy environment variables.

**Describe

[2021-10-18 22:21] #259 closed, assigned to nobody

[2021-10-26 13:35] mortenlj opened #261 "Publish as standalone package on PyPI"
If the intention is that alternative kubernetes clients can use python-base for "common" parts, it would be useful if the packages here was available on PyPI so you could add them as dependencies.

Either the complete package as `kubernetes-base` or similar, or even split out the individual packages `kubernetes-config`, `kubernetes-leaderelection` etc.

[2021-11-08 17:34] roycaihw commented on #261
Today python-base is included in the python client release. Does using python-base from python package work for you?

cc @yliaog

[2021-11-08 19:01] mortenlj commented on #261
I assume it would work (have not made an attempt yet), but it would be overkill to include all of the client library, with all of its dependencies, when all I want is the "common" parts and maybe only a subset of those.

[2021-11-12 07:50] hterik opened #263 "load_config is printing to stdout"
In [config/__init__.py, when calling load_config ](https://github.com/kubernetes-client/python-base/blob/3aa8b4c94282707a20482f71e86624f3b39a2cc6/config/__init__.py#L39) and not running in a cluster, a warning message is printed to stdout.

This utility function might be used in context where the stdout is used for other purposes and can garble such data.
Recommend use logging instead.

[2021-11-17 00:26] venukarnati92 opened #264 "async creation of custom resources (CR) using the CRD is failing"
Synchronous Implementation with this example is working fine https://github.com/kubernetes-client/python/blob/master/examples/dynamic-client/namespaced_custom_resource.py

Now to make creation process as async update line number 192 on the above example to the following

`ingressroute_api.create(body=ingressroute_manifest_first, namespace=namespace_first, async_req=True)`

Error Message

`(ansible

[2021-11-17 08:56] WalkerWang731 opened #265 "[config] Add a new method of config.kube_config.new_client_from_config_dict"
Add a new method of config.kube_config.new_client_from_config_dict.

Loads configuration the same as load_kube_config_from_dict but returns an ApiClient to be used with any API object. This will allow the caller to concurrently talk with multiple clusters.

[2021-11-17 18:37] #265 closed

[2021-11-17 19:25] #264 closed

[2021-11-17 19:25] venukarnati92 commented on #264
Opened in wrong repo

[2021-11-21 21:11] mitar commented on #27
/remove-lifecycle stale

[2021-11-22 17:33] roycaihw commented on #263
/assign

[2021-11-22 18:04] roycaihw commented on #263
I think using logging is a good idea. Would you like to send a PR?

/unassign
cc @yliaog @tomplus

Some thoughts:
1. It's a behavior change. We need to make sure we document it, and existing users are okay with this change.
2. Let's make sure the behavior in [python](https://github.com/kubernetes-client/python) and [python-base](https://github.com/kubernetes-client/python-base) are consistent. I t

[2021-12-13 06:53] lc-bitsec opened #270 "add socks5 proxy support for websocket client"
connect_post_namespaced_pod_exec used kubernetes.stream.stream to execute command in pod.
I want to use socks5 type proxy in websocket connection which used by kubernetes.stream.stream.
But i didn't find any docs or apis.  So I modified the code in the file /kubernetes/stream/ws_client.py in order to use socks5 proxy websockset connection.

![image](https://user-images.githubusercontent.com/171187

[2021-12-14 00:29] AurelienGasser opened #271 "WSClient returncode is not idempotent"
The second call to client.returncode raises:

[code]

`client.returncode` should return the same value when called multiple times in a row.

[2021-12-14 21:54] #271 closed

[2021-12-16 10:38] KuberDriver commented on #249
Apologies for the delayed action on this!
Current update: Made changes in forked repo and testing Test run CI with GitHub Actions [here](https://github.com/KuberDriver/python-base/actions). Few tests are failing due to kube-init.sh from kubernetes/python repo mostly aligned to run on travis only. Testing fix to run them successfully in GH Actions. Will submit PR as soon as possible.

[2021-12-17 22:14] KuberDriver commented on #249
2 PRs in place to achieve the port from travis CI to GitHub actions.

For kubernetes/python-base: https://github.com/kubernetes-client/python-base/pull/273
For kubernetes/python: https://github.com/kubernetes-client/python/pull/1659

Tests carried out as part of feature branch CI runs, below are key notes:
- Python version 3.5 is not supported in GH agents hence related test matrix is not configur

[2021-12-18 05:31] DiptoChakrabarty commented on #263
/assign

[2021-12-19 12:54] #245 closed

[2021-12-21 12:19] Frankkkkk commented on #190
/remove-lifecycle stale

[2022-01-04 15:18] pelt opened #277 "custom kube config cannot be loaded"
The function [load_config](https://github.com/kubernetes-client/python-base/blob/master/config/__init__.py#L36) provides an option to use a custom kube config path. Unfortunately the validation of the name is wrong. It checks for [kube_config_path](https://github.com/kubernetes-client/python-base/blob/master/config/__init__.py#L36) but the invoked function uses obviously [config_file](https://gith

[2022-01-06 06:01] fangfenghuang opened #278 "leadere lection: release lock when error occour and graceful shotdown"
**What happened (please include outputs or screenshots)**:
 causes error during shutdown.

INFO:root:abd7df1c-1077-48e8-a91c-4dd0243c89b9 successfully acquired lease
I am leader now！！！！
INFO:root:Leader has entered renew loop and will try to update lease continuously
INFO:root:leader abd7df1c-1077-48e8-a91c-4dd0243c89b9 has successfully acquired lease
INFO:root:leader abd7df1c-1077-48e8-a91c-4dd02

[2022-01-19 21:37] bobh66 opened #281 "WSClient.update() fails on select.poll() when running in eventlet on Linux"
WSClient.update() was modified by PR #268  to use select.poll() instead of select.select, which breaks when running under eventlet on Linux:

[code]

eventlet monkey_patches the select module and does not support the poll() method

Adding a check on getattr(select, "poll", None) is None to the if statement and reverting to select.select when there is no poll attribute will fix the problem.

I'll p

[2022-01-20 15:32] bobh66 commented on #281
/assign

[2022-01-31 17:35] roycaihw commented on #278
/assign @fangfenghuang

[2022-02-25 23:01] psontag opened #284 "Support request timeout in the dynamic client"
**What is the feature and why do you need it**:
I would like to use the dynamic client to interact with the Kubernetes API. But at the moment it looks like it is not possible to configure a request timeout for it.

For the normal api client it is possible to configure a timeout via the `_request_timeout` parameter as can be seen here:
https://github.com/kubernetes-client/python/blob/dd7417a0b88937

[2022-02-25 23:12] mitar commented on #27
/remove-lifecycle stale

[2022-02-25 23:20] psontag commented on #284
/assign

[2022-02-28 08:13] cansjt opened #286 "Add support for bookmark events"
In #234 the parsing of BOOKMARK events has been bypassed. But those events exist for a reason and can be useful in some circumstances. And motivational example is this Airflow issue: apache/airflow#21087.

As Airflows scheduler can be stopped and restarted, while many events occur on k8s, it would need to process BOOKMARK to recover its state. Sadly because those are ignored by the Python client,

[2022-02-28 17:35] roycaihw commented on #284
HI @philipp-sontag-by, thanks for sending the issue! This python-base repo has been merged into the main python repo, and is being archived. Would you mind sending the issue to the python repo?

[2022-02-28 17:37] roycaihw commented on #286
HI @cansjt, thanks for sending the issue! This python-base repo has been merged into the main python repo, and is being archived. Would you mind sending the issue to the python repo?

[2022-02-28 18:34] cansjt commented on #286
Done. I am guessing I can close this issue, right?

[2022-03-01 17:36] psontag commented on #284
Sure, closing this one in favour of https://github.com/kubernetes-client/python/issues/1726

[2022-03-01 17:36] #284 closed, assigned to psontag

[2022-03-04 22:33] roycaihw commented on #286
Yes. Thank you!

/close

[2022-03-04 22:33] #286 closed, assigned to nobody

[2022-03-13 16:10] roycaihw commented on #27
This repo has been merged into the main [python repo](https://github.com/kubernetes-client/python). We are archiving this repo. Please open a new issue in the main repo. Thanks!

/close

[2022-03-13 16:10] #27 closed

[2022-03-13 16:10] roycaihw commented on #117
This repo has been merged into the main [python repo](https://github.com/kubernetes-client/python). We are archiving this repo. Please open a new issue in the main repo. Thanks!

/close

[2022-03-13 16:10] #117 closed

[2022-03-13 16:10] roycaihw commented on #190
This repo has been merged into the main [python repo](https://github.com/kubernetes-client/python). We are archiving this repo. Please open a new issue in the main repo. Thanks!

/close

[2022-03-13 16:10] #190 closed

[2022-03-13 16:10] roycaihw commented on #249
This repo has been merged into the main [python repo](https://github.com/kubernetes-client/python). We are archiving this repo. Please open a new issue in the main repo. Thanks!

/close

[2022-03-13 16:10] #249 closed

[2022-03-13 16:11] roycaihw commented on #261
This repo has been merged into the main [python repo](https://github.com/kubernetes-client/python). We are archiving this repo. Please open a new issue in the main repo. Thanks!

/close

[2022-03-13 16:11] #261 closed

[2022-03-13 16:11] roycaihw commented on #263
This repo has been merged into the main [python repo](https://github.com/kubernetes-client/python). We are archiving this repo. Please open a new issue in the main repo. Thanks!

/close

[2022-03-13 16:11] #263 closed

[2022-03-13 16:11] roycaihw commented on #270
This repo has been merged into the main [python repo](https://github.com/kubernetes-client/python). We are archiving this repo. Please open a new issue in the main repo. Thanks!

/close

[2022-03-13 16:11] #270 closed

[2022-03-13 16:11] roycaihw commented on #277
This repo has been merged into the main [python repo](https://github.com/kubernetes-client/python). We are archiving this repo. Please open a new issue in the main repo. Thanks!

/close

[2022-03-13 16:11] #277 closed

[2022-03-13 16:11] roycaihw commented on #278
This repo has been merged into the main [python repo](https://github.com/kubernetes-client/python). We are archiving this repo. Please open a new issue in the main repo. Thanks!

/close

[2022-03-13 16:11] #278 closed

[2022-03-13 16:11] roycaihw commented on #281
This repo has been merged into the main [python repo](https://github.com/kubernetes-client/python). We are archiving this repo. Please open a new issue in the main repo. Thanks!

/close

[2022-03-13 16:11] #281 closed